*,
html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: #212121;
  color: white;
}

#container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar-wrapper {
  margin-top: 30px;
}

#search-bar,
#search-bar:focus {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 16px;
}

#search-bar {
  border-bottom: 1px solid grey;
  transition: all 0.5s ease;
}

#search-bar:focus {
  border-bottom: 1px solid white;
}

#main {
  flex: 1;
  width: 100%;

  display: flex;
}

#place {
  flex: 1;
}

#forecast {
  flex: 1;
}

.two-div {
  margin: 40px;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
